body
{
    background-color: #061A40;
}

.path
{
    font-family: 'Courier New', Courier, monospace;
    color: #0d6fc4;
}

.Pure
{
    background-color: #064276;
    border-color: #003559;
    border-radius: 15px;
    box-shadow: none;
    color: #7F95D1;
    width: 300px;
    font-family: 'Kanit', sans-serif;
    font-size: 35pt;
    top:25%;
    left:14%;
    position: absolute;
}

.Stats
{
    background-color: #064276;
    border-color: #003559;
    border-radius: 15px;
    box-shadow: none;
    color: #7F95D1;
    width: 300px;
    font-family: 'Kanit', sans-serif;
    font-size: 35pt;
    top:50%;
    left:14%;
    position: absolute;
}