.but
{
    width: 90%;
}

.body
{
    display: flex;
    justify-content: center;
}

.as_time
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e7eeff;
    font-family: 'Handjet';
    font-size: 55pt;
    top:5%;
    position: absolute;
}

.Chemistry
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e7eeff;
    font-family: 'Kanit', sans-serif;
    font-size: 35pt;
    top:20%;
    left:23%;
    position: absolute;
}

.Physics
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e7eeff;
    font-family: 'Kanit', sans-serif;
    font-size: 35pt;
    top:32%;
    left:30%;
    position: absolute;
}

.Math
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e7eeff;
    font-family: 'Kanit', sans-serif;
    font-size: 35pt;
    top:44%;
    left:37%;
    position: absolute;
}

.EL
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e7eeff;
    font-family: 'Kanit', sans-serif;
    font-size: 35pt;
    top:57%;
    left:43%;
    position: absolute;
}

.IT 
{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #e7eeff;
    font-family: 'Kanit', sans-serif;
    font-size: 35pt;
    top:70%;
    left:45%;
    position: absolute;
}
